<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">

 	<dl id="menu-admin">
 		<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
 		<dd>
 			<ul>
 				<li><a data-href="{:url('Admin/index')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
 				<!-- <li><a data-href="{:url('Admin/add')}" data-title="添加管理员" href="javascript:void(0)">添加管理员</a></li> -->
 		    </ul>
 	    </dd>
     </dl>
    
    <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('User/index')}" data-title="用户列表" href="javascript:;">用户列表</a></li>
                 <!--    <li><a data-href="{:url('User/index')}" data-title="塘主列表" href="javascript:;">塘主列表</a></li> 
                    <li><a data-href="{:url('User/index')}" data-title="待审核列表" href="javascript:;">待审核列表</a></li>     -->           
            </ul>
        </dd>
    </dl>

    <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe62b;</i> 鱼塘管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('User')}" data-title="鱼塘列表" href="javascript:;">鱼塘列表</a></li>
                    <li><a data-href="{:url('User/index')}" data-title="塘主列表" href="javascript:;">塘主列表</a></li> 
                    <li><a data-href="{:url('User/index')}" data-title="待审核列表" href="javascript:;">待审核列表</a></li>               
            </ul>
        </dd>
    </dl>

	<dl id="menu-product">
		<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		<dd>
			<ul>
				<li><a data-href="{:url('Category/index')}" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
				<li><a data-href="{:url('Goods/index')}" data-title="产品管理" href="javascript:void(0)">产品管理</a></li>
			</ul>
		</dd>
    </dl>

    <dl id="menu-product">
		<dt><i class="Hui-iconfont">&#xe6b9;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		<dd>
			<ul>
				<li><a data-href="{:url('Orders/index')}" data-title="订单列表" href="javascript:void(0)">订单列表</a></li>
			</ul>
		</dd>
    </dl>


	<dl id="menu-tongji">
		<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		<dd>
			<ul>
				<li><a data-href="{:url('Index/count')}" data-title="统计中心" href="javascript:void(0)">统计中心</a></li>
	     	</ul>
	    </dd>
    </dl>
    
    <dl id="menu-picture">
        <dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a data-href="{:url('Lunbo/index')}" data-title="轮播图管理" href="javascript:void(0)">轮播图管理</a></li>
            </ul>
        </dd>
    </dl>
    
   
	<dl id="menu-system">
		<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		<dd>
			<ul>
				<li>
                    <a data-href="{:url('System/index')}" data-title="系统设置" href="javascript:void(0)">系统设置</a>
                </li>
                
				<li>
                   <a data-href="{:url('Caozuo/index')}" data-title="操作记录" href="javascript:void(0)">操作记录</a>
				</li>
				<li>
                    <a data-href="{:url('System/gonggao')}" data-title="栏目管理" href="javascript:void(0)">网站公告</a>
                </li>
		   </ul>
	    </dd>
    </dl>
</div>
</aside>